 #Intercom {
  display: inline-block;
  text-decoration: underline;
  padding: 0 0 0 24px;
  background: transparent url(https://api.intercom.io/assets/white_env.png) no-repeat left center;
}

#Intercom em {
  display: inline-block;
  font-style: normal;
  text-decoration: underline;
}